@model List<string>


<!-- Modal -->
<div id="standardWordingModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="overflow-y: initial !important">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Wording</h4>
            </div>
            <div class="modal-body" style="height: 300px;overflow-y: auto;">
                <div style="padding-top:15px; padding-bottom:15px;">
                    @foreach (var wording in Model)
                    { 
                        <div class="alert alert-warning wording" style="cursor: pointer">@wording</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>