<configuration>
  <appSettings>
    <add key="IsTestEnvironment" value="true" />

    <add key="DocumentStoreRootDirectory" value="C:\Program Files (x86)\Blueclover Consulting Ltd\TrustonTap JobService - Development\Documents" />
    <add key="MileageAllowance" value="0.45" />

    <!-- Email -->
    <add key="RedirectTestEmailsTo" value="trustontap@hotmail.com" />
    <add key="StatementBCCEmailAddress" value="" />
    <add key="BookingConfirmationBCCEmailAddress" value="info@trustontap.com" />

    <!-- accounts@trustontap.com -->
    <add key="EmailFromName" value="TrustonTap" />
    <add key="EmailFromAddress" value="accounts@trustontap.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailHost" value="smtp.office365.com" />
    <add key="EmailUseSSL" value="true" />
    <add key="EmailUsername" value="accounts@trustontap.com" />
    <add key="EmailPassword" value="48u6L2017*!" />
    <add key="EmailUseExchange" value="false" />

    <!-- booking@trustontap.com -->
    <add key="Email2FromName" value="TrustonTap" />
    <add key="Email2FromAddress" value="booking@trustontap.com" />
    <add key="Email2Port" value="587" />
    <add key="Email2Host" value="smtp.office365.com" />
    <add key="Email2UseSSL" value="true" />
    <add key="Email2Username" value="booking@trustontap.com" />
    <add key="Email2Password" value="Rul37112" />
    <add key="Email2UseExchange" value="false" />

    <!-- SMS -->
    <add key="SmsNotificationEmailRecruitment" value="tapteam@trustontap.com" />
    <add key="SmsNotificationEmailSupport" value="care@trustontap.com;support@trustontap.com" />
    <add key="RedirectTestSmsMessagesTo" value="447711420153" />

    <!-- External URLs -->
    <add key="ReportingServicesUrl" value="http://91.109.4.130/Reports/Pages/Folder.aspx?ItemPath=%2fTesting+Database+Reports&amp;ViewMode=List" />
    <add key="PublicWebsiteUrl" value="http://tot91.digitaltradingco.co.uk" />
    <add key="CarerProfileUrl" value="/carerprofile/userid/{0}" />
    <add key="PaymentWebsiteUrl" value="http://totinternaldev.digitaltradingco.co.uk" />
    <add key="BookingPreviewLink" value = "http://tot91.digitaltradingco.co.uk/testbooking/ctl/preview/mid/764/bookingkey/{0}/controller/booking/action/preview" />

    <!-- DNN SSO Endppoint -->
    <add key="SSOEndpointUrl" value="http://tot91.digitaltradingco.co.uk/DesktopModules/APIModule/API/SSO/Login" />
    <add key="SSOSecret" value = "trv5t0nTAp!" />

    <!-- DNN Address Lookup Endppoint -->
    <add key="AddressLookupEndpointUrl" value="http://tot91.digitaltradingco.co.uk/DesktopModules/APIModule/API/AddressLookup/" />

    <!-- DNN User API Endppoint -->
    <add key="DNNUserEndpointUrl" value="http://tot91.digitaltradingco.co.uk/DesktopModules/APIModule/API/User/" />
    <add key="DNNEndpointUsername" value="paymentsystem" />
    <add key="DNNEndpointPassword" value="paymentsystem" />
    
    <!-- ***************************************************************************************************** -->
    <!-- *                                                                                                   * -->
    <!-- *                                         3rd Paty Integrations                                     * -->
    <!-- *                                                                                                   * -->
    <!-- ***************************************************************************************************** -->
    
    <!-- Bing -->
    <add key="BingMapsAPIKey" value="" />

    <!-- Go Cardless -->
    <add key="GoCardlessAccessToken" value="sandbox_Yohe9YIGxMJ0NLtwvl7mZ3n1WMOHaI-de2o1gtap" />
    <!--<add key="GoCardlessAccessToken" value="live_IbFNcfXeUPT7bCdid_CYNsFI6-c2HsTrKtxWrF7S" />-->
    <add key="DisableGoCardlessPayments" value="false" />

    <!-- Stripe -->
    <add key="StripeAPIKey" value="sk_test_EhHbSo2n42c5K4UJPs2WRtVG" />
    <add key="StripeAPIPublicKey" value="pk_test_VBIIbL9DQl3DHGe54TkjaF86" />
    <!--<add key="StripeAPIKey" value="sk_live_CavFDjAhK4FTCciQGgWLJINr" />-->
    <!--<add key="StripeAPIPublicKey" value="pk_live_DbzPeerPsupnAfqEnBrghv7a" />-->
    
    <!-- Zoho CRM -->
    <add key="CrmWebServiceAuthToken" value = "f5c61d944cd62f3bf208d246f1d63c72" />
    
    <!-- Twilio API-->
    <add key="TwilioPhoneNum" value="+447492888027"/>
    <add key="TwilioAccountSId" value="AC203a8cdb38f4daaca6db0e9d181c049a"/>
    <add key="TwilioAuthToken" value="c1a69242eefda15d04bf9d0f1d998469"/>

    <!-- TomTom-->
    <add key="TomTomAPIKey" value="0rnUEuT9gWT66NlYDoAzeXBZZVn3rjG7" />
    
    <!-- ***************************************************************************************************** -->
    
   </appSettings>
</configuration>