@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h3>TrustonTap Payment System</h3>
<p><Strong>Blueclover Consulting Ltd. 2017</Strong></p>
<p>Web: <a href="http://www.blueclover.co.uk">http://www.blueclover.co.uk</a></p>
<p>Email: <a href="mailto:info@blueclover.co.uk"><i class="fa fa-envelope"></i> info@blueclover.co.uk</a></p>